<a href="https://colab.research.google.com/github/AugustoNicoletti/projetoteste/blob/master/AULA4_LINGUAGEM_DE_PROGRAMA%C3%87AO_PERSIST%C3%8ANCIA_EM_ARQUIVO%2C_PERSIST%C3%8ANCIA_EM_NUVEM%2C_BANCO_DE_DADOS_SQLite%2C_JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Conexao com drive

In [7]:
from google.colab import drive

# Montar o Google Drive
drive.mount('/content/drive')

# Copiar a pasta para o diretório do Colab
!cp -r "/content/drive/MyDrive/AULA4_LINGUAGEM_PROGRAMAÇAO" "/content"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Apos a importaçao dos arquivos, podemos realizar a manipulaçao dos arquivos.

De forma geral, podemos realizar a abertura, leitura, escrita e fechamento de qualquer arquivo em formato de texto simples com os comandos phyton abaixo:

Arquivo = open(nome do arquivo,tipo de de abertura*)

*Nome do arquivo deve ser uma string com o caminho e nome do seu arquivo.

*tipo de abertura pode ser: "r" para ler (erro se o arquivo nao existir) "r+" para ler (erro se arquivo nao existir) e escrever (no inicio do arquivo) "w" cria novo arquivo ou substitui existente (apaga conteudo antigo) e escreve (no inicio do arquivo) "a" cria novo arquivo ou abre existente e escreve (no fim do arquivo) "a+" cria novo arquivo ou abre ecistente e le e escreve ( no fim do arquivo)

arquivo.write(string_qualquer) arquivo.close()

In [8]:
arquivo = open ('exemplo_simples.txt', 'w+')
arquivo.write('Olá mundo\nEsta é a segunda linha\nEsta é a terceira linha\n')
arquivo.seek(0)
conteudo = arquivo.read()
print(conteudo)

Olá mundo
Esta é a segunda linha
Esta é a terceira linha

In [60]:
#.tell() mostra a posiçao atual do cursor
#arquivo.tell()

Apos a abertura e manipulaçao de um arquivo, devemos fecha-lo, para que o arquivo seja liberado para outros programas:

In [13]:
arquivo.close()

Aqui no google coolab, se quisermos abrir um arquivo pela linha de comando do linux, usamos o acesso ! para usar comandos linux e o comando cat para ver o conteudo de um arquivo:

In [15]:
!cat exemplo_simples.txt

Olá mundo
Esta é a segunda linha
Esta é a terceira linha

podemos usar o gerenciamento do contexto com o comando with para abrir e manipular arquivos em python

esta estrategia fecha o arquivo automaticamente quando o contexto se encerra (saida do comando with

In [17]:
 with open('exemplo_simples.txt', 'a+') as arquivo:
    arquivo.write('Quarta linha é feita com uso do gerenciamento de contexto\n'+\
                  'Esta é a quinta linha e foi feita da mesma forma\n ')

In [18]:
!cat exemplo_simples.txt

Olá mundo
Esta é a segunda linha
Esta é a terceira linha
Quarta linha é feita com uso do gerenciamento de contexto
Esta é a quinta linha e foi feita da mesma forma

importar biblioteca panda

In [19]:
import pandas as pd

Atualizar linux do colab

In [20]:
!sudo apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease [1,581 B]
Get:3 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Hit:4 http://archive.ubuntu.com/ubuntu focal InRelease
Get:5 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Get:6 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ Packages [79.8 kB]
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  Packages [1,059 kB]
Get:9 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,360 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Get:14 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,299 kB]
Hit:15 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Fetched 6,139 kB in 2s (3,553 kB/s)
Reading package lists... Done

In [37]:
#descoberta da pasta JAVA deste linux
JAVA_FOLDER = !readlink -f /usr/bin/java | sed 's:bin/java::'

#configuraçao de variaveis de ambiente
import os
os.environ["JAVA_HOME"] = JAVA_FOLDER[0]
os.environ["PATH"] += os.pathsep + os.environ["JAVA_HOME"] + "/bin"

os.environ["SPARK_HOME"] = 'usr/local/spark'
os.environ['PATH'] += os.pathsep + os.environ['SPARK_HOME'] + '/bin'

#opçoes para uso do spark com xml:

os.environ['PYSPARK_SUBMIT_ARGS'] = "--packages com.databricks:spark-xml_2.12:0.15.0 pyspark-shell"

In [34]:
#instalaçao do SPARK (40 a 120 segundos de execuçao, depende da velocidade de conexao.)
!wget -q -O spark.tgz https://archive.apache.org/dist/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz
!tar xf spark.tgz
!mv ./spark-* /usr/local/spark
!pip install -q findspark
!rm spark.tgz

mv: cannot move './spark-3.3.0-bin-hadoop3' to '/usr/local/spark/spark-3.3.0-bin-hadoop3': Directory not empty

In [41]:
import findspark
findspark.init(os.environ['SPARK_HOME'])

In [40]:
#CODIGO CASO DE ERRO NO SPARK_HOME"
import os
os.environ["SPARK_HOME"] = "/usr/local/spark"

In [45]:
#Criaçao do objeto SparkSession para uso do pyspark.sql
from pyspark.sql import SparkSession
appName = 'PySpark Aula 4'
master = 'local[*]'

spark = SparkSession.builder\
    .appName(appName)\
    .master(master)\
    .getOrCreate()

##Leitura de arquivos XML e Json com PANDAS

Com o PANDAS, para importar um arquivo e ja formata-lo com dataframe, usamos os metodos de leitura:

pandas.read_xml
pandas.read_json
pandas.read_csv
pandas.read_parquet
pandas.read_sql
pandas.read_excel
pandas.read_html
pandas.read_faether
pandas.read_pickle
pandas.read_clipboard
....

Da mesma forma, podemos salvar os dados de um dataframe em um arquivo, usando os metodos de escrita:


pandas.to_xml
pandas.to_json
pandas.to_csv
pandas.to_parquet
pandas.to_sql
pandas.to_pickle
pandas.to_excel
pandas.to_clipboard
.....

In [47]:
!cat /content/AULA4_LINGUAGEM_PROGRAMAÇAO/Badges-small.xml

<?xml version="1.0" encoding="utf-8"?>
<Root>
	<badges>
		<row Id="82946" UserId="3718" Name="Teacher" Date="2008-09-15T08:55:03.923" Class="3" TagBased="False" />
		<row Id="82947" UserId="994" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
		<row Id="82949" UserId="3893" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
		<row Id="82950" UserId="4591" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
		<row Id="82951" UserId="5196" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
	</badges>
</Root>

In [52]:
!ls -lh /content/AULA4_LINGUAGEM_PROGRAMAÇAO/Badges-small.xml | awk '{print "Arquivo: " $9 "\nTamanho: " $5}'
!echo ""
!echo "Conteúdo do arquivo Badges-small.xml"
!echo ""
!cat /content/AULA4_LINGUAGEM_PROGRAMAÇAO/Badges-small.xml

Arquivo: /content/AULA4_LINGUAGEM_PROGRAMAÇAO/Badges-small.xml
Tamanho: 622

Conteúdo do arquivo Badges-small.xml

<?xml version="1.0" encoding="utf-8"?>
<Root>
	<badges>
		<row Id="82946" UserId="3718" Name="Teacher" Date="2008-09-15T08:55:03.923" Class="3" TagBased="False" />
		<row Id="82947" UserId="994" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
		<row Id="82949" UserId="3893" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
		<row Id="82950" UserId="4591" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
		<row Id="82951" UserId="5196" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
	</badges>
</Root>

In [57]:
pddf_xml = pd.read_xml('/content/AULA4_LINGUAGEM_PROGRAMAÇAO/Badges-small.xml',xpath='.//row')

In [58]:
pddf_xml.head()

      Id  UserId     Name                     Date  Class  TagBased
0  82946    3718  Teacher  2008-09-15T08:55:03.923      3     False
1  82947     994  Teacher  2008-09-15T08:55:03.957      3     False
2  82949    3893  Teacher  2008-09-15T08:55:03.957      3     False
3  82950    4591  Teacher  2008-09-15T08:55:03.957      3     False
4  82951    5196  Teacher  2008-09-15T08:55:03.957      3     False